@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 40px;
    font-family: 'Open Sans', 'sans-serif';
    color: black;
    background-color: rgba(245, 245, 220, 0.836);
  }
  
  h4, p {
    margin: 0 0 1em 0;
  }
  
  h2,h1{
    text-align: center;
    color: #df0000;
    font-family: 'Lobster', cursive;
  }
  
  .wrapper {
    max-width: 1500px;
    margin:  10px;
    display: grid;
    grid-gap: 10px;
  }

/*VIDEO*/
video {
  opacity: 0.5;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

  /*CABECERA y HERO*/
  .header{
    grid-column: 1/ 3;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  .header img{
    width:5rem;
  }
  .header ul li{
    padding: 1rem;
    list-style: none;
    font-weight: 1000;
    background-color: rgba(245, 228, 240, 0.966);
    color: #df0000;
    border-radius: 15px
  }
  
  .header ul li:hover{
    background-color: rgba(220, 187, 210, 0.966);
  }
  .hero{
    grid-column: 1/ 3;
    height:  79vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .hero ul{
    display: flex;
    flex-flow: row;
    list-style: none;
    font-weight: bold;
    padding: 1rem;
    color: #df0000;
    
  }


 
/*formulario*/


  .sidebar{
    width: 90vw;
    grid-column: 1/ 3;
  }
  .sidebar form{
    background-color:rgba(64, 105, 62, 0.755);
    display: flex;
    flex-flow: column;

  }
  .sidebar form div * {
    display: flex;
    flex-flow: column ;
    align-items: center;
  }

  form div p{
    color: white;
  }
  .sidebar form  button{
    width: 50%;
    margin: 1rem auto;
  }
  


  input.error {
    border: 2px solid red;
    font-weight: bold;
    color: red;
}

 /*productos */
 .content{
  grid-column: 1/ 3;
}
.products{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.products a{
  text-decoration: none;
  color: #df0000;
}
.products a:hover{
  text-decoration: underline;
}

/*testimonios*/
.banner{
  grid-column: 1/ 3;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;

}
.testimonio{
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.divs{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

table td{
  border-top: 1px solid rgba(64, 105, 62, 0.755);
}
.boton{
  margin-top: 1rem;
}


button{
  background-color: rgba(64, 105, 62, 0.755);
    color: white;
}
button:hover{
  background-color: rgba(80, 164, 103, 0.904);
}



/*MEDIA QUERY*/
  @media  (min-width: 768px) {
  
    .sidebar {
      grid-column: 1/ 2;
      float: left;
      width: 50%;
    }
  
    form{
      margin-top: 15rem;
    }
    .content {
      grid-column: 2/ 3;
      float: right;
      width: 50%;
    }
  
    .banner{
        grid-column: 1/span 2;
    }
    .sidebar form div * {
      display: flex;
      flex-flow: column nowrap ;
      margin-top: 1rem;
      }
    .wrapper {
      margin: 0 auto;
      grid-template-columns: 2fr 2fr;
    }
    
    .hero, .footer {
      grid-column: 1 / -1;
      clear: both;
    }
  
  }

  @media  (min-width: 992px) {
  
    .sidebar form div * {
      display: flex;
      flex-flow: row nowrap ;
      justify-content: space-around;
    }
    form{
      margin-top: 5rem;
    }
    .wrapper {
      margin: 0 auto;
      grid-template-columns: 2fr 3fr;
    }
  
  }
  
 
/*WRAPPER*/
.wrapper > * {
    
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
}


@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}